.container {
  width: 950px;
  height: 400px;
  background: url("file:///C:/Users/freit/Desktop/coding%20challenges/huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg");
  background-color: HSL(257, 40%, 49%);
  background-size: 80%;
  color: white;
  padding: 30px;
  margin:100px auto 100px auto;
  text-align: left;
}
.logo{
  width: 120px;
}

.image{
  width: 450px;
  float: left;
  margin-top: 40px;
  margin-right: 30px;
}
h1 {
  font-family: 'Poppins', sans-serif;
  margin-top: 60px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px;
  padding-right: 10px;
  margin-top: auto;

}
.myButton {
	box-shadow: 0px 3px 6px 0px hsl(257, 40%, 49%);
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:hsl(257, 40%, 49%);
	font-family:Arial;
	font-size:14px;
	padding:8px 40px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#a42abd;
}
.myButton:active {
	position:relative;
	top:1px;
}

.logos{
  text-align: right;
  margin-right: 30px;
  margin-top: 50px;
}
.facebook{
  width: 25px;
  color: white;
}
.twitter{
  width: 25px;
}
.instagram{
  width: 25px;
}
